.button{
    -fx-background-color:transparent;
    -fx-background-radius: 5em;
}
.button:hover{
    -fx-background-color:rgba(0, 0, 0, 0.1);
}
.button:armed{
    -fx-background-color:rgba(0, 0, 0, 0.2)!important;
}
#addTab{
    -fx-background-color:transparent;
}
#addTab:hover{
    -fx-background-color:rgba(0, 0, 0, 0.1);
}
#addTab:armed{
    -fx-background-color:rgba(0, 0, 0, 0.2)!important;
}

